<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #264892;">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/dashboard">
      <fa-icon [icon]="faDatabase" class="me-2"></fa-icon>
      CRM System
    </a>
    @if (userName()) {
      <div class="d-flex align-items-center">
        <span class="text-white me-3">{{ userName() }}</span>
        <div ngbDropdown class="d-inline-block me-3">
          <button class="btn btn-outline-light btn-sm" ngbDropdownToggle>
            {{ langService.currentLang() === 'de' ? 'DE' : 'EN' }}
          </button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="switchLanguage('de')" [class.active]="langService.currentLang() === 'de'">
              {{ 'LANGUAGE.DE' | translate }}
            </button>
            <button ngbDropdownItem (click)="switchLanguage('en')" [class.active]="langService.currentLang() === 'en'">
              {{ 'LANGUAGE.EN' | translate }}
            </button>
          </div>
        </div>
        <button class="btn btn-outline-light btn-sm" (click)="logout()">
          <fa-icon [icon]="faSignOutAlt" class="me-1"></fa-icon> {{ 'AUTH.LOGOUT' | translate }}
        </button>
      </div>
    }
  </div>
</nav>
