<div class="page-header">
  <h2>Personen@if (totalRows > 0) {: {{ displayedRows === totalRows ? totalRows : displayedRows + '/' + totalRows }}}</h2>
  <a routerLink="neu" class="btn btn-primary">Neue Person</a>
</div>

@if (loading) {
  <app-loading-spinner />
} @else {
  <ag-grid-angular
    style="width: 100%; height: calc(100vh - 180px)"
    [theme]="theme"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [autoSizeStrategy]="autoSizeStrategy"
    (gridReady)="onGridReady($event)"
    (modelUpdated)="onModelUpdated()"
    (rowClicked)="onRowClicked($event)"
  />
}
