// Corporate Design – Farbvariablen & Typografie
$primary: #264892;
$secondary: #777777;
$danger: #dc421e;
$light: #dedede;
$body-bg: #f5f6f8;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
